.article {
    padding: 1rem;
    border: 1px solid #fefefe;
    margin: 3px;

    a{
        font-size: 1.5rem;
        transition: all 0.8s ease-in 0.2s;
        -webkit-transition: all 0.8s ease-in 0.2s;
        -moz-transition: all 0.8s ease-in 0.2s;
        -ms-transition: all 0.8s ease-in 0.2s;
        -o-transition: all 0.8s ease-in 0.2s;

        &:hover {
            background-color: rgba(207,207,207,.7);
        }
    }
}