<div class="container">
  <header>
    <div>
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/800px-Wikipedia-logo-v2.svg.png" alt="">
      <h4 class="title">WikiApp</h4>
    </div>
    <p class="subtitle">
      La enciclopedia libre
    </p>
  </header>
  <app-search (submitted)="onSearch($event)"></app-search>
  <ng-container *ngFor="let article of articles$ | async">
    <app-article [article]="article"></app-article>
  </ng-container>
</div>